:root {
  --blanco:#fff;
  --typo-1:'Oswald',Arial;
  --typo-2:Arial;
  --color-1:#D81001;
  --color-2:#E0F11B;
}

body {
  font-family:var(--typo-1);
  background-color: black;
  max-width:100%;
  color: var(--blanco);
}
a {text-decoration: none;color:var(--color-2);}
h1,h2,h3,h4,h5,h6 {color:var(--color-1);font-weight:bold;}

.descripcion {
  font-size: .85rem;
  font-weight: normal;
}